.not-authorized {
  background-color: lightgray;
  padding: 10px;
  border-radius: 10px;
  .header {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 5px;
  }
}
.no-projects-message {
  background-color: lightgray;
  padding: 10px;
  border-radius: 10px;
}
.list-display-container {
  display: flex;
  flex-direction: column;
  padding-right: 4%;
  padding-left: 4%;
  min-width: 900px;
  .title-container {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 50px;
    .checkbox-text {
      margin-right: 5%;
      align-self: center;
    }
    .title {
      font-size: 20px;
      font-weight: 600;
      align-self: center;
    }
    .approved-title {
      font-size: 20px;
      font-weight: 600;
      align-self: center;
      margin-top: 30px;
    }
  }

  .show-more-button {
    height: 35px;
    width: 100px;
    border-radius: 15px;
    color: #05a2b7;
    border: 1px solid #05a2b7;
    cursor: pointer;
    background-color: #fafafa;
    margin-top: 25px;
    &:hover {
      background-color: #05a2b7;
      color: #fafafa;
    }
  }
}
