.header {
  height: 10vh;
  font-size: 30px;
  font-weight: 800;
}

.container {
  width: 100%;
  display: flex;
}

.text {
  flex: 1;
  text-align: center;
  padding: 20px;
  border-bottom: 1px black;
  resize: none;
}

.body {
  font-size: 18px;
  font-family: Arial, Arial, Helvetica, sans-serif;
}
