.signin-container {
  padding-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    min-width: 600px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    input {
      height: 40px;
      text-align: right;
      padding: 0 10px;
      font-size: 18px;
      border-radius: 5px;
      border: 2px solid lightgray;
      margin-bottom: 20px;
    }
  }
  .title {
    font-size: 20px;
    width: 700px;
  }
  .signin-button {
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    border: none;
    color: white;
    background-color: rgb(114, 228, 207);
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    height: 70px;
  }
  .signin-button:hover {
    background-color: rgb(47, 163, 142);
  }
}
