.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  & > div,
  form {
    min-width: 700px;
    max-width: 1000px;
    margin-bottom: 25px;
  }
  .add-students-div {
    display: flex;
    flex-direction: column;
    .main-label {
      font-size: 22px;
      margin-bottom: 20px;
      color: #444242;
      font-weight: bold;
      align-self: flex-end;
    }
    .students-form {
      display: flex;
      flex-direction: column;
      .student-input-row {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;

        & > div {
          flex: 1 1 calc((100% - 50px) * 0.5);
        }
        .first {
          margin-right: 50px;
        }
      }
      .student-number {
        text-align: right;
        font-size: 13px;
        color: #05a2b7;
        font-weight: 600;
        margin-bottom: 10px;
      }
    }
    .student-buttons {
      display: flex;
      width: 280px;
      align-self: center;
      margin-bottom: 20px;
      & > button {
        flex: 0 0 130px;
        background-color: #05a2b7;
        cursor: pointer;
        border-radius: 5px;
        padding: 10px;
        border: none;
        color: white;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 0;
      }
      & > button:hover {
        background-color: #068090;
      }
    }
    .justify-center {
      justify-content: center;
    }

    .justify-between {
      justify-content: space-between;
    }
  }
  .student-project-submit-button {
    min-width: 700px;
    max-width: 1000px;
    height: 70px;
    margin-top: 15px;
    background-color: #05a2b7;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    &:hover {
      background-color: #068090;
    }
  }
  .student-project-submit-button:disabled,
  .student-project-submit-button[disabled] {
    border: 0;
    background-color: #cccccc;
    cursor: default;
    color: white;
    font-size: 24px;
    border-radius: 5px;
    font-weight: 600;
  }
  .teacher-project-approval {
    display: flex;
    padding-top: 10px;
    & > button {
      // flex: 0 0 calc((100% - 40px) * 0.333333);
      flex: 1;
      height: 60px;
      &:disabled {
        background-color: #cccccc;
        cursor: default;
      }
      &:disabled:hover {
        background-color: #cccccc;
      }
    }
    .approval-button {
      background-color: #76ca76;
      margin-right: 20px;
      cursor: pointer;
      border-radius: 5px;
      padding: 10px;
      border: none;
      color: white;
      font-size: 18px;
      font-weight: 600;
      height: 70px;
      &:hover {
        background-color: green;
      }
    }
    .decline-button {
      background-color: lightcoral;
      margin-right: 20px;
      cursor: pointer;
      border-radius: 5px;
      padding: 10px;
      border: none;
      color: white;
      font-size: 18px;
      font-weight: 600;
      height: 70px;
      &:hover {
        background-color: red;
      }
    }
    .save-only {
      background-color: #05a2b7;
      cursor: pointer;
      border-radius: 5px;
      padding: 10px;
      border: none;
      color: white;
      font-size: 18px;
      font-weight: 600;
      height: 70px;
      &:hover {
        background-color: #068090;
      }
    }
  }
  .title-container {
    display: flex;
    min-width: 700px;
    max-width: 1000px;
    margin-bottom: 40px;
    justify-content: space-between;
    .status-orange {
      background-color: #ffa50040;
      padding: 6px;
      border-radius: 10px;
      height: 20px;
      align-self: flex-end;
      font-size: 15px;
    }
    .status-red {
      background-color: #ff00004a;
      padding: 6px;
      border-radius: 10px;
      height: 20px;
      align-self: flex-end;
      font-size: 15px;
    }
    .update-title {
      font-size: 44px;
      font-weight: 500;
    }
    .messages-button {
      cursor: pointer;
      border-radius: 5px;
      padding: 10px;
      border: none;
      color: white;
      background-color: #05a2b7;
      font-size: 18px;
      font-weight: 600;
      width: 130px;
      margin-bottom: 0;
    }
    .messages-button:hover {
      background-color: #068090;
    }
  }
  .project-teacher-details-container {
    display: flex;
    flex-direction: row;
    & > div {
      flex: 0 0 calc((100% - 60px) * 0.333333);
      margin-right: 30px;
    }
    & > div:nth-child(3n) {
      margin-right: 0;
    }
  }
  .input-container {
    display: flex;
    flex-direction: column;
    input {
      height: 40px;
      text-align: right;
      padding: 0 10px;
      font-size: 18px;
      border-radius: 5px;
      border: 2px solid lightgray;
    }
    label {
      margin-bottom: 10px;
      color: rgb(68, 66, 66);
      font-weight: bold;
      align-self: flex-end;
    }
    .text-helper {
      align-self: flex-end;
      font-size: 12px;
      margin-top: 3px;
    }
  }
  .preview-container {
    display: flex;
    flex-direction: column;
    .markdown-editor {
      flex: 1;
      direction: rtl;
      resize: none;
      text-align: right;
      font-size: 17px;
      padding: 10px;
      font-family: inherit;
      min-height: 310px;
    }
    label {
      margin-bottom: 10px;
      color: rgb(68, 66, 66);
      font-weight: bold;
      align-self: flex-end;
    }
  }
  .add-img-container {
    display: flex;
    flex-direction: row;
    & > div {
      flex: 0 0 calc((100% - 30px) * 0.5);
    }
    .left-side {
      flex: 1;
      margin-right: 30px;
      height: 70px;
    }
    .right-side {
      flex: 1;
      display: flex;
      flex-direction: column;
      & > label {
        margin-bottom: 10px;
        color: rgb(68, 66, 66);
        font-weight: bold;
        align-self: flex-end;
      }
      .image-buttons {
        display: flex;
        flex-direction: row-reverse;
        width: 300px;
        align-self: flex-end;
        justify-content: space-between;
        input[type="file"] {
          display: none;
          font-size: 18px;
        }
        .custom-file-upload {
          cursor: pointer;
          border-radius: 5px;
          padding: 10px;
          border: none;
          color: white;
          background-color: #05a2b7;
          margin: 0;
          width: 130px;
          font-weight: 600;
          &.disabled {
            background-color: #cccccc;
            cursor: default;
          }
          &.disabled:hover {
            background-color: #cccccc;
          }
        }
        .custom-file-upload:hover {
          background-color: #068090;
        }
        .remove-img {
          cursor: pointer;
          border-radius: 5px;
          padding: 10px;
          border: none;
          color: white;
          background-color: #05a2b7;
          margin: 0;
          width: 130px;
          font-weight: 600;
          font-size: 18px;
          &.disabled {
            background-color: #cccccc;
            cursor: default;
            &:hover {
              background-color: #cccccc;
            }
          }
        }
        .remove-img:hover {
          background-color: #068090;
        }
        button {
          flex: 0 0 140px;
        }
        label {
          height: 20px;
          flex: 0 0 120px;
          font-size: 15px;
        }
      }
    }
  }
  .contacts-container {
    display: flex;
    flex-direction: column;
    .main-label {
      font-size: 22px;
      color: black;
      margin-bottom: 20px;
      font-weight: bold;
      align-self: flex-end;
    }
    .contacts-input {
      display: flex;
      justify-content: space-between;
    }
  }
}

.drawer-container {
  display: flex;
  flex-direction: column;
  .warning-message-wrapper {
    padding: 30px 0 10px 0;
    .leave-message-warning {
      background-color: #f1050533;
      border-radius: 6px;
      padding: 6px;
      color: black;
    }
  }
  .messages-and-preview-container {
    display: flex;
    .drawer-preview-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 0 0 45%;
      margin: 20px 0;
      border-left: 1px solid #9694944a;
      .preview-header {
        font-size: 22px;
        padding-bottom: 10px;
        border-bottom: 1px solid #0000002e;
        width: 80%;
      }
      .preview-text {
        text-align: right;
        padding: 0 12px;
        white-space: pre-line;
      }
    }

    .messages-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 0 0 55%;
      .new-message-container {
        display: flex;
        padding: 20px 20px;
        height: 70px;
        width: 80%;
        .send-message-buttons-div {
          display: flex;
          flex-direction: column;
          flex: 0 0 23%;
          .name-select {
            height: 30px;
            direction: rtl;
          }
        }
        .new-message-input {
          direction: rtl;
          text-align: right;
          padding: 10px;
          resize: none;
          font-family: emoji;
          outline: none;
          flex: 0 0 73%;
        }
        .new-message-input:hover {
          // background-color: rgba(174, 244, 174, 0.283);
        }
        .new-message-button {
          background-color: rgb(3, 191, 191);
          height: 40px;
          cursor: pointer;
          border: none;
          border-radius: 3px;
          color: white;
          font-weight: 600;
        }

        .new-message-button:hover {
          background-color: darkcyan;
        }
        .new-message-button:disabled,
        .new-message-button[disabled] {
          border: 1px solid #999999;
          background-color: #cccccc;
          color: #666666;
          cursor: default;
        }
      }
      .messages-display-container {
        // border: 3px solid rgb(114, 228, 207);
        //maybe this padding should be with %
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        width: 80%;
      }
    }
  }
  .buttons-div {
    display: flex;
    align-self: center;
    padding: 10px 0 40px 0;
    & > button {
      cursor: pointer;
      border-radius: 5px;
      padding: 10px;
      border: none;
      color: white;
      font-size: 18px;
      font-weight: 600;
      height: 70px;
    }
  }
  .reject-button {
    background-color: lightcoral;
    margin-right: 20px;
    &:hover {
      background-color: red;
    }
    &:disabled {
      background-color: #cccccc;
      cursor: default;
      &:hover {
        background-color: #cccccc;
      }
    }
  }
  .return-button {
    background-color: #05a2b7;
    &:hover {
      background-color: #068090;
    }
  }
  .header {
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // width: 415px;
    align-self: center;
    // button {
    //   background-color: #05a2b7;
    //   width: 35px;
    //   height: 30px;
    //   top: -5px;
    // }
    // button:hover {
    //   background-color: #068090;
    // }
  }
  .message-container {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    .content-sender {
      align-self: flex-end;
      display: flex;
      flex-direction: column;
      background-color: darkcyan;
      border-radius: 10px;
      padding: 6px;
      color: white;
      width: 75%;
      text-align: right;
    }
    .content-reciever {
      display: flex;
      flex-direction: column;
      background-color: rgb(53, 196, 153);
      border-radius: 10px;
      padding: 6px;
      color: white;
      width: 75%;
      text-align: right;
    }
    .message-text {
      margin-bottom: 10px;
      font-family: "Roboto";
    }
    .message-details {
      color: black;
      font-weight: bold;
      font-size: 13px;
      font-family: "Roboto";
    }
    .actions {
      flex: 0 0 12%;
      display: flex;
      justify-content: space-between;
      button {
        background-color: #05a2b7;
        width: 35px;
        height: 30px;
      }
      button:hover {
        background-color: #068090;
      }
    }
  }
  svg {
    color: white;
  }
}
.MuiDrawer-paperAnchorLeft {
  width: 75%;
  min-width: 900px;
}
